header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

header a {
  text-decoration: none;
  color: inherit;
}

.active {
  background-color: rgba(0, 0, 255, 0.208);
}

header .logo {
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 15px;
}
