<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <fieldset>
        <label>
            First name
            <input name="first_name" placeholder="First name" autocomplete="given-name" [(ngModel)]="firstName" required />
        </label>
        <label>
            Email
            <input type="email" name="email" placeholder="Email" autocomplete="email" [(ngModel)]="email" required />
        </label>
        <label>
            Message
            <textarea name="message" id="msg" cols="30" rows="10" [(ngModel)]="message" required></textarea>
        </label>
    </fieldset>

    <input type="submit" value="Send" [disabled]="!myForm.valid" />
</form>