<button (click)="showTable = !showTable">{{showTable ? "Hide Table": "Show Table"}}</button>
<table *ngIf="showTable">
    <thead>
      <tr>
        <th>Naziv</th>
        <th>Kolicina</th>
        <th>Cijena</th>
        <th>Status</th>
        <th>Kategorija</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <th>{{product.name}}</th>
        <td>{{product.quantity}}</td>
        <td [style.color]="product.price < 100 ? 'red' : 'green'">{{product.price | currency:'USD'}}</td>
        <td>
            <button (click)="product.status = !product.status">{{product.status ? 'Active':'Inactive'}}</button>
        </td>
        <td>{{product.type}}</td>
      </tr>
    </tbody>
</table>