<button (click)="showTable = !showTable">{{showTable ? "Hide Table": "Show Table"}}</button>
<table *ngIf="showTable">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Date</th>
            <th>Time</th>
            <th>Theater</th>
            <th>Price</th>
            <th>No. Tickets</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies">
            <th>{{movie.movie}}</th>
            <td>{{movie.showDate}}</td>
            <td>{{movie.showTime}}</td>
            <td>{{movie.theater}}</td>
            <td>{{movie.ticketPrice | currency:'EUR'}}</td>
            <td>{{movie.ticketsAvailable < 20 ? 'Only ' + movie.ticketsAvailable + ' tickets left' :
                    movie.ticketsAvailable}}</td>
            <td>
                <a [routerLink]="['/edit',movie.id]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>