<button (click)="showTable = !showTable">{{showTable ? "Hide Table": "Show Table"}}</button>
<table *ngIf="showTable">
    <thead>
        <tr>
            <th>Task</th>
            <th>Desc</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Completed</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todoList">
            <th>{{todo.task}}</th>
            <td>{{todo.description}}</td>
            <td>{{todo.dueDate}}</td>
            <td [style.color]="todo.priority === 'High' ? 'red' 
        : (todo.priority === 'Low' ? 'green' : '')">{{todo.priority}}</td>
            <td>{{todo.completed ? 'Complete':'To Do'}}</td>
            <td>
                <button (click)="todo.completed = !todo.completed">{{"Action"}}</button>
            </td>
        </tr>
    </tbody>
</table>